---
import BlogInTheWild from "../../components/BlogInTheWild.astro";
import BlogPreview from "../../components/BlogPreview.astro";
import Layout from "../../layouts/Default.astro";
import "../../styles/main.css";
const pageTitle = "Sandra Rodgers";
const pageDescription = "Personal blog of Sandra Rodgers";

////////////////  Main Blog  ////////////////
const allPosts = await Astro.glob("../../content/blog/**/**/*.md");
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
const posts = sortedPosts.map((p) => {
  return p;
});

const files = posts.map((p) => {
  return p.file;
});

const slugs = [];
files.forEach((file) => {
  let pathParts = file.replace("/index.md", "").split("/");
  slugs.push(pathParts[pathParts.length - 1]);
});

////////////////  Posts in the Wild  ////////////////
const wildPosts = await Astro.glob("../../content/wild/index.md");

const wildFront = wildPosts.map((p) => {
  return p.frontmatter.posts.slice(0, 3);
});
---

<Layout {pageTitle} {pageDescription}>
  <div class="blog">
    <h1>Blog</h1>
    <BlogInTheWild {wildFront} />
    <div class="blog-preview-section">
      <h2>
        New Posts 
      </h2>
      {posts.map((post, i) => {
        return <BlogPreview post={post} slug={slugs[i]}/>
      })}
    </div>
  </div>
</Layout>

<style>
  h1 {
    @apply mb-16 !important;
  }
   h2 {
    @apply text-2xl sm:text-4xl !important;
    @apply pb-8;
  }
  .blog {
    @apply flex flex-col;
    @apply w-full;
    @apply h-full;
    @apply px-10 sm:px-16 lg:px-44;
    @apply py-28 sm:py-32 lg:py-40;
  }

  .blog-preview-section {
    @apply h-screen;
    @apply mt-8 md:mt-16;
    @apply w-full;
  }

 

</style>
