---
import BlogInTheWild from "../../components/BlogInTheWild.astro";
import BlogPreview from "../../components/BlogPreview.vue";
import Layout from "../../layouts/Default.astro";
import "../../styles/main.css";
const pageTitle = "Sandra Rodgers";
const pageDescription = "Personal blog of Sandra Rodgers";

////////////////  Main Blog  ////////////////
const allPosts = await Astro.glob("../../content/blog/**/**/*.md");
const sortedPosts = allPosts.sort(
  (a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date)
);
const posts = sortedPosts.map((p) => {
  return p;
});

let showPost0 = false;
let showPost1 = false;
let showPost2 = false;
let showPost3 = false;

if (posts.length > 0) {
  showPost0 = true;
}

if (posts.length > 1) {
  showPost1 = true;
}

if (posts.length > 2) {
  showPost2 = true;
}

if (posts.length > 3) {
  showPost2 = true;
}

const files = posts.map((p) => {
  return p.file;
});

const slugs = [];
files.forEach((file) => {
  let pathParts = file.replace("/index.md", "").split("/");
  slugs.push(pathParts[pathParts.length - 1]);
});
const frontmatter = posts.map((f) => {
  return f.frontmatter;
});

////////////////  Posts in the Wild  ////////////////
const wildPosts = await Astro.glob("../../content/wild/index.md");

const wildFront = wildPosts.map((p) => {
  return p.frontmatter.posts.slice(0, 3);
});
---

<Layout {pageTitle} {pageDescription}>
  <div class="blog">
    <h1>Blog</h1>
    <BlogInTheWild {wildFront} />
    <div class="blog-preview-section">
      {showPost0 ?
      <BlogPreview
        index="0"
        frontmatter={frontmatter[0]}
        slug={slugs[0]}
        show={showPost0}
      />: null
      }
      {showPost1 ?
      <BlogPreview
        index="2"
        frontmatter={frontmatter[1]}
        slug={slugs[1]}
        show={showPost1}
      />: null
      }
      {showPost2 ?
      <BlogPreview
        index="3"
        frontmatter={frontmatter[2]}
        slug={slugs[2]}
        show={showPost2}
      />: null
      }
      {showPost3 ?
    <BlogPreview
        index="4"
        frontmatter={frontmatter[3]}
        slug={slugs[3]}
        show={showPost3}
        class={showPost3}
      /> : null
      }
    </div>
    {showPost1 ?
    <div class="more">
      <a href="/allposts"><p>More posts...</p></a>
    </div>: null
    }
  </div>
</Layout>

<style>
  .blog {
    @apply flex flex-col;
    @apply w-full;
    @apply px-6 sm:px-16 lg:px-24 xl:px-32;
    @apply py-16 sm:py-32 lg:py-40;
  }

  .blog-preview-section {
    @apply h-screen;
    @apply mt-8 md:mt-16;
    @apply w-full;
    @apply gap-x-0 lg:gap-x-12;
    @apply grid;
    @apply grid-cols-2 lg:grid-cols-3;
    @apply grid-rows-6 sm:grid-rows-5 lg:grid-rows-4;
  }

  h1 {
    @apply border-2 border-black;
    /* @apply text-6xl lg:text-7xl !important; */
    @apply mb-16 !important;
  }

  .more {
    @apply w-full;
    @apply flex justify-end;
    @apply text-black font-extrabold;
    @apply mt-12 sm:mt-0;
  }

  .more p {
    @apply text-4xl;
  }
</style>
