---
const { height, width, bezier, delay, second, classes, fromLeft, fromTop } =
  Astro.props;
---

<div class="contain-animation">
  <div class="contain-element">
    <slot />
    <span
      class={`cover ${classes}`}
      style={`height:${height}; width:${width}; animation: walk ${second}s ${bezier} ${delay}; margin-top:${fromTop}; transform:translateX(${fromLeft});`}
    ></span>
  </div>
</div>

<style>
  .contain-element {
    position: relative;
  }

  .cover {
    @apply absolute bg-black top-0 left-0;
  }

  @keyframes walk {
    from {
      transform: translateX(0%);
      margin-top: 0;
    }
    70% {
      opacity: 1;
    }
  }
</style>
