---
const { wildFront } = Astro.props;
const info = wildFront[0];
---

<ul class="wild-section">
  <h2>
    Recent Writings In the Wild <span class="text-one text-lg"
      >(External Links)</span
    >
  </h2>
  <li>
    <a href={info[0].link} target="_blank">
      <span class="text-three mr-4">{info[0].date.slice(0, 10)}</span><span
        class="font-ptmono text-white ">{info[0].title}</span
      ><span class="ml-2 text-one">{`${info[0].source}`}</span></a
    >
  </li>
  <li>
    <a href={info[1].link} target="_blank">
      <span class="text-three mr-4">{info[1].date.slice(0, 10)}</span><span
        class="font-ptmono text-white ">{info[1].title}</span
      >
      <span class="ml-2 text-one">{`${info[1].source}`}</span></a
    >
  </li>
</ul>

<style scoped>
  h2 {
    @apply text-2xl sm:text-4xl !important;
  }
  .wild-section {
    @apply pb-8;
    @apply border-b-2 border-white;
  }
  li {
    @apply my-8 px-0 sm:px-8;
    @apply py-4;
    @apply text-base;
    @apply list-none !important;
    @apply hover:bg-[#282c33];
    @apply cursor-pointer;
  }

  a {
    @apply hover:bg-[#282c33];
  }

  span {
    @apply text-xl md:text-2xl;
  }
</style>
