---
const { wildFront } = Astro.props;
const info = wildFront[0];
---

<ul class="card-1">
  <h3>Recent Writings In the Wild</h3>
  <li>
    <a href={info[0].link}>
      <span class="text-three font-lato mr-4">{info[0].date.slice(0, 10)}</span
      ><span>{info[0].title}</span><span class="ml-2"
        >{`(${info[0].source})`}</span
      ></a
    >
  </li>
  <li>
    <a href={info[1].link}>
      <span class="text-three font-lato mr-4">{info[1].date.slice(0, 10)}</span
      ><span>{info[1].title}</span>
      <span class="ml-2">{`(${info[1].source})`}</span></a
    >
  </li>
  <li>
    <a href={info[2].link}>
      <span class="text-three font-lato mr-4">{info[2].date.slice(0, 10)}</span
      ><span>{info[2].title}</span><span class="ml-2"
        >{`(${info[2].source})`}</span
      ></a
    >
  </li>
</ul>

<style>
  .card-1 {
    @apply col-span-3;
    @apply row-span-2 lg:row-span-6;
    @apply mb-6 lg:mb-12;
    @apply p-4;
    @apply text-xl;
  }
  li {
    @apply my-4;
    @apply text-base;
  }
</style>
